{% extends 'index.html.twig' %}

{% block contenu %}
    <ul>
        {% for film in films %}
            <li>{{ film.name|e }} and id {{film.id|e}}
                <a href="{{path('getFilmById', {slug: film.slug} ) }}">ici</a>
            </li>
        {% endfor %}
    </ul>
{%endblock%}